<div class="cuerpo">
    <div class="div1">About</div>
      <div class="primerTexto">{{estado}}</div>
      <div>{{texto2}}</div>
      {{!-- Helper para crear botons --}}
      {{input class="div2" type="button" click=(action "onclick") value="click me"}} 
      {{input type="text" value=test2}}
      <h1>Saludo</h1>
      
      

      <div class="segundoTexto">
        <p>Segundo Texto</p>
          {{input type="text" value=texto2}}
          <button class="confirm-cancel" {{action "copiarTexto"}}>Copiar</button>
      </div>


      <button {{action "launchConfirmDialog"}}>{{text2}}</button>
      {{#if confirmShown}}
        <div class="confirm-dialog">
          <button class="confirm-submit" {{action "submitConfirm"}}>OK</button>
          <button class="confirm-cancel" {{action "cancelConfirm"}}>Cancel</button>
          <button class="confirm-cancel" {{action "copiarTexto"}}>Copiar</button>
        </div>
      {{/if}}
</div>

<div class="sumaTexto">
    <h1>Sumar</h1>
    {{input type="text" value=calcular}}
    {{input type="text" value=calcular2}}
    <div>{{resultado}}</div>
    <button class="confirm-cancel" {{action "sumarNumeros"}}>Sumar</button>
</div>

{{generic-component mensaje="abaout"}}